<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>progress_bar_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,32}</string>
                <key>spriteSourceSize</key>
                <string>{318,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{318,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>proprogress_bar_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,32}</string>
                <key>spriteSourceSize</key>
                <string>{318,32}</string>
                <key>textureRect</key>
                <string>{{318,0},{318,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{0,32},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,74}</string>
                <key>spriteSourceSize</key>
                <string>{207,74}</string>
                <key>textureRect</key>
                <string>{{640,32},{207,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{847,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:277a1406cd523c0d13e03df709bf75a8:e206ad33b3b30022848f561998869beb:8515f24a45383d6b4899a9e5fc8d6fdf$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
